<% for (let talk of items) { %>
<h3><%- talk.date %></h3>
<b style="font-size:1.3em;"><%- talk.title %></b><br>
<i style="font-size:1.3em;"><%- talk.speaker %> (<%- talk.affiliation %>)</i>

<details>
  <summary>Show Details</summary>

<%- talk.abstract %>

<% if (talk.bio) { %>
**Bio:**  
<%- talk.bio %>
<% } %>

</details>
<% } %>
